<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hoanghoan.hci_21_ngdngticy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Customer" />
        <activity android:name=".MainFunction" />
        <activity android:name=".DetailMap" />
        <activity android:name=".TreeDetail" />
        <activity android:name=".WorkTime" />
        <activity android:name=".WorkTimeDay" />
        <activity android:name=".WorkHistory" />
        <activity android:name=".Information" />
        <activity android:name=".DetailHistoryWork" />
        <activity android:name=".Client"></activity>
    </application>

</manifest>